table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    justify-content: center;
    align-items: center;
  }
input, label, button {
    float:left;
    margin:10px;
    
}
#MODname, #vname {
    border-width:0px;
    border:none;
    outline:none;
}

@media print{    
    .no-print{
        display: none ;
    }
}