.table, th, .td {
    border: 1px solid black;
    border-collapse: collapse;
    justify-content: center;
    align-items: center;
    font-size: 12px;  
}
table {
    width: 100%;
}
input, label, button{
    float:left;
    margin:10px;
    
}
#form {
    margin-left: 20%

}
#MODname, #vname{
    border-width: 0px;
    border: none;
    outline: none;
}
.display-on-print{
    display: none;
}
@media print { 
    .no-print{
        display: none;
    }
    .display-on-print{
        display: contents;
    }
    #date {
        border-width: 0px;
        border: none;
        outline: none;
    }
    .scoreboardTable, #th, .td {
        border: .5px solid black;
        font-size: 8px;
    }
    #input-DOM{
        border-width: 0px;
        border: none;
        outline: none;
        

    }
}
.date-volunteer{
    margin: 0;
    display:inline;
    float:left;
}
#date {
    width: 25rem;
    font-size: x-large;
    display: inline-block;
    font-family: Times;
    font-weight: bold;
}
hr {
    width: 33%;
    margin-left: 0%;
}
#volunteerScheduleTitle{
    margin-top: 2.75%;
    font-size: larger;
    
}
.date-volunteer{
    margin-bottom: 1%;
    font-weight: bold;
}